{% extends "loans/lender/components/tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <style>

        .content-container {
            display: flex;
            flex-direction: column;
            border: thin solid var(--cmap-border-darker);
            border-radius: 10px;
            overflow: hidden;
            margin-top: 30px;
            box-sizing: border-box;
        }

        .wallet-info-container {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            border: thin solid var(--cmap-border-darker);
            background:  var(--cmap-border-darker);
            width: 100%;
        }

        .content-container .content-body{
            padding: 50px;
        }

    </style>

    <div class="content-container">
        <div class="wallet-info-container">
            <div>
                BTC Wallet : {{ btc_amount }} BTC
            </div>
            <div>
            Ecash : {{ ecash_amount }} eCash
            </div>
        </div>
        <div class="content-body">
            Checkout Pending Request tab to process loans.
        </div>
    </div>
    
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
