{% extends "loans/customer/components/tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'pending_request' %}
{% block content %}
    <style>
        
        .list-container {
            display: flex;
            flex-direction: column;
            border: thin solid var(--cmap-border-darker);
            border-radius: 10px;
            margin-top: 30px;
            padding: 20px 40px;
        }

        .list-item-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            border: thin solid var(--cmap-border-darker);
            background:  var(--cmap-border-darker);
            width: 100%;
            border-radius: 10px;
        }

        .list-item-container:not(:first-child) {
            margin-top: 20px;
        }

        .list-item-row {
            display: flex;
        }

        .list-item-row > * {
            margin: 5px 20px
        }

        .list-content .title {
            font-size: 0.8rem;
        }

    </style>
    {% if incoming_loans|length == 0%}
        <option disabled>No pending loans found</option>
    {% else %}
        <div class="list-container">
        {% for item in incoming_loans %}
            <div class="list-item-container">

                <div class="list-item-row">
                    <div class="list-content">
                        <div class="title">
                            Loan Id
                        </div>
                        <div class="content">
                            {{item["id"]}}
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="title">
                            Loan Amount
                        </div>
                        <div class="content">
                            {{item["amount"]}} eCash
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="title">
                            Due Months
                        </div>
                        <div class="content">
                            {{item["months"]}}
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="title">
                            Status
                        </div>
                        <div class="content">
                            {{item["status"]}}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
