{% extends "loans/customer/components/tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'settings' %}
{% block content %}
    <style>

        .list-container {
            display: flex;
            flex-direction: column;
            border: thin solid var(--cmap-border-darker);
            border-radius: 10px;
            margin-top: 30px;
            padding: 20px 40px;
        }
                
        .list-item-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            border: thin solid var(--cmap-border-darker);
            background:  var(--cmap-border-darker);
            width: 100%;
            border-radius: 10px;
        }


        .list-item-container:not(:first-child) {
            margin-top: 20px;
        }

        .list-item-row {
            display: flex;
        }

        .list-item-row > * {
            margin: 5px 20px
        }

        .list-content .title {
            font-size: 0.8rem;
        }

    </style>

    <form class="new-form list-container"  action="./settings" method="POST" role="form">
        <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="list-item-container">
            Settings
        </div>
        <div class="list-item-container">
            <input type="text" id="ecash_address" name="ecash_address" placeholder="Enter Address"><br>
            <button type="submit" name="action" value="create" class="btn">Add ecash address</button>
            {{ message }}
        </div>
        
    </form>

{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
